@import "variables";
@import "mixins";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

*{
    @include overall;
}
body{
    background-color: $bgColor;
}

.header{
    background-color: $primaryColor;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 3rem;

    h1{
        @include textStyle(1.5rem , bold , $secondaryColor , 0.7rem)
    }

    .hamburger-menu{
        display: none;
        flex-direction: column;

        span{
            display: inline-block;
            height: 3px;
            width: 25px;
            background-color: $secondaryColor;
            margin: 2px;
            border-radius: 10px;
        }
    }
}

.nav-bar{
    display: flex;
    align-items: center;

    img{
        width: 40px;
        border-radius: 60%;
    }

    nav{
        margin-right: 40px;
    }

    ul{
        display: flex;
        list-style: none;
    }

    a{
        color: $secondaryColor;
        text-decoration: none;
        padding: 25px;
        transition: all 0.15s ease-in;
        @include textStyle(1.1rem , 520 , $secondaryColor , normal);

        &:hover{
            color: $textColor
        }
    }
}

.main{
    display: flex;
    margin: 2rem 3rem;

    aside{
        @include bodyStyle;
        @include boxStyle;
        flex-direction: column;
        width: 25%;
        margin-right: 25px;

        div{
            background-color: $primaryColor;
            width: 100%;
            height: 110px;
            margin: 20px 10px;
            line-height: 100px;
            text-align: center;
            @include textStyle(1.3rem , normal , $bgColor , normal);
            @include boxStyle;
        }
    }

    main{
        @include bodyStyle;
        @include boxStyle;
        width: 75%;
        flex-direction: column;

        img{
            width: 450px;
            @include boxStyle;
        }

        h2{
            @include textStyle(3rem , bold , $primaryColor , 0.7rem);
            margin: 2rem 0 2rem;
        }

        p{
            @include textStyle(1.5rem , bold , $textColor , 0.5rem)
        }
    }
}

.cards{
    width: calc(100% - 6rem);
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    grid-template-rows: auto;
    gap: 30px;
    padding: 20px 0;
}

.card{
    @include boxStyle;

    img{
        width: 100%;
        display: block;
    }

    .card-content{
        line-height: 1.5rem;
        padding: 15px;
        background-color: $secondaryColor;

        p{
            padding: 20px 0;
            @include textStyle(1.1rem , 400 , $textColor , normal);
        }

        span{
            display: inline-block;
            @include textStyle(1rem , bold , $primaryColor , normal)
        }
    }
}

footer{
    display: flex;
    padding: 2rem 3rem;
    margin-top: 30px;
    background-color: $primaryColor;

    .summary{
        width: 50%;

        p{
            text-align: justify;
            @include textStyle(1.2rem , 300 , $bgColor , normal);
        }
    }

    .links{
        padding: 0 5rem;

        ul{
            list-style: none;
        }
        
        a{
            text-decoration: none;
            @include textStyle(1.2rem , 500 , $bgColor , normal);
            display: inline-block;
            margin-bottom: 1rem;
            transition: all 0.15s ease-in;

            &:hover{
                color: $textColor
            }
        }
    }
}





@include media(M){

    .header{
        .hamburger-menu{
            display: flex;
        }
    }

    .nav-bar{
        display: none;
    }

    .main{
        flex-direction: column-reverse;
        margin: 1rem;

        main{
            width: 100%;
            height: 500px;
            margin-bottom: 40px;

            h2{
                font-size: 2.2rem;
            }

            p{
                font-size: 1.2rem;
                letter-spacing: 0.2rem;
            }

            img{
                width: 350px;
                margin: 0rem 2rem;
            }
        }

        aside{
            width: 100%;
            height: 600px;
        }
    }

    .cards{
        grid-template-columns: 1fr;
        margin: 0 auto;
    }

    footer{
        flex-direction: column;

        .summary{
            width: 100%;
            margin-bottom: 3.5rem;
        }

        .links{
            width: 100%;
            padding: 0;
            ul{
                display: flex;
                justify-content: space-between;
            } 
        }
    }
}

@include media(L){
    .cards{
        grid-template-columns: 1fr 1fr;
        gap: 50px;
    }
}